@layer base {
	body {
		overflow-wrap: break-word;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	button:disabled {
		cursor: not-allowed;
	}

	:focus:not(:focus-visible),
	[tabindex="-1"]:focus {
		outline: none;
	}

	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		appearance: none;
	}
}
